<!--Questions Page Starts -->
<section data-ng-controller="allQuestionsController" onload="getAllQuestions()">
<div id="mainbar">
	<div class="subheader">
    	<h1 id="h-all-questions">All Questions</h1>            
			<div id="tabs">
			    <a class="" href="#" title="The most recently asked questions" ng-click="sortQuestions('created')" ng-class="{'youarehere':predicate=='created'}">newest</a>

		        <a href="#" ng-click="sortQuestions('votes')" title="Questions with the most votes" ng-class="{'youarehere':predicate=='votes'}">votes</a>

		        <a href="#" ng-click="sortQuestions('active')" title="Questions that have recent activity" ng-class="{'youarehere':predicate=='active'}">active</a>

		        <a href="#" ng-click="sortQuestions('numberOfAnswers')" title="Questions that have less or no answers" ng-class="{'youarehere':predicate=='numberOfAnswers'}">answers</a>
			</div>
	</div>
	<div id="questions">
		<!-- Iterate Questions from here -->
		<div ng-repeat="quest in allQuestions | orderBy:predicate:reverse | startFrom:currentPage*maxSize | limitTo:maxSize">
			<div class="question-summary" id="question-summary-30621756">
				<div class="statscontainer">
					<div class="statsarrow"></div>
					<div class="stats">
	    				<div class="vote">
			                <div class="votes">
			                    <span class="vote-count-post "><strong>{{quest.votes}}</strong></span>
			                    <div class="viewcount">votes</div>
			                </div>
	    				</div>
			            <div class="status unanswered">
			                <strong>{{quest.numberOfAnswers}}</strong>answers
			            </div>
					</div>
					<div class="views " title="3 views"></div>
				</div>
				<div class="summary">
					<h3><a href="" class="question-hyperlink" ng-click="showQuestion(quest)">{{quest.title}}</a></h3>
					<div class="excerpt"><pre>{{quest.content}}<pre></div>        
					<div class="started fr">
						<div class="user-info ">
						    <div class="user-action-time">
						        asked <span title="{{quest.created}}" class="relativetime">{{quest.created.split("T")[0]}}</span>
						    </div>								    
						    <div class="user-details">
						        <a href="">{{quest.createdUser}}</a><br>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- End your Iteration here -->
		<br class="cbt">
		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        	Previous
    	</button>
    	{{currentPage+1}}/{{numberOfPages()}}
    	<button ng-disabled="currentPage >= allQuestions.length/maxSize - 1" ng-click="currentPage=currentPage+1">
        Next
    	</button>
		
	</div>
</div>

<div id="sidebar">
	<div class="module" id="questions-count">
        <div class="summarycount al">{{allQuestions.length}}</div>
        <p>questions</p>
    </div>
</div>
<section>
<!-- Question Page Ends