<!-- Questions Page Starts -->
<section data-ng-controller="allQuestionsController">
<div id="mainbar">
	<div class="subheader">
    	<h1 id="h-all-questions">All Questions</h1>            
			<div id="tabs">
			    <a class="youarehere" href="/questions?sort=newest" title="The most recently asked questions">newest</a>
			    <a href="/questions?sort=featured" title="Questions with open bounties">featured</a>
		        <a href="/questions?sort=frequent" title="Questions with the most links">frequent</a>
		        <a href="/questions?sort=votes" title="Questions with the most votes">votes</a>
		        <a href="/questions?sort=active" title="Questions that have recent activity">active</a>
		        <a href="/questions?sort=unanswered" title="Questions that have no upvoted answers">unanswered</a>
			</div>
	</div>
	<div id="questions">
		<!-- Iterate Questions from here -->
		<div class="question-summary" id="question-summary-30621756">
			<div class="statscontainer">
				<div class="statsarrow"></div>
				<div class="stats">
    				<div class="vote">
		                <div class="votes">
		                    <span class="vote-count-post "><strong>0</strong></span>
		                    <div class="viewcount">votes</div>
		                </div>
    				</div>
		            <div class="status unanswered">
		                <strong>0</strong>answers
		            </div>
				</div>
				<div class="views " title="3 views">3 views</div>
			</div>
			<div class="summary">
				<h3><a href="#!/questionAnswer" class="question-hyperlink">Question Title Comes Here....</a></h3>
				<div class="excerpt">
					Question Will come here.Just to have some long text i have written something here. Are we ready to do develop on this???<br>
					NOTE:Our Angular ng-repeat will do the magic here for us....
				</div>        
				<div class="started fr">
					<div class="user-info ">
					    <div class="user-action-time">
					        asked <span title="2015-06-03 13:36:51Z" class="relativetime">2 mins ago</span>
					    </div>								    
					    <div class="user-details">
					        <a href="">Asked Person Id or Name</a><br>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="question-summary" id="question-summary-30621756">
			<div class="statscontainer">
				<div class="statsarrow"></div>
				<div class="stats">
    				<div class="vote">
		                <div class="votes">
		                    <span class="vote-count-post "><strong>0</strong></span>
		                    <div class="viewcount">votes</div>
		                </div>
    				</div>
		            <div class="status unanswered">
		                <strong>0</strong>answers
		            </div>
				</div>
				<div class="views " title="3 views">3 views</div>
			</div>
			<div class="summary">
				<h3><a href="#!/questionAnswer" class="question-hyperlink">Question Title Comes Here....</a></h3>
				<div class="excerpt">
					Question Will come here.Just to have some long text i have written something here. Are we ready to do develop on this???<br>
					NOTE:Our Angular ng-repeat will do the magic here for us....
				</div>        
				<div class="started fr">
					<div class="user-info ">
					    <div class="user-action-time">
					        asked <span title="2015-06-03 13:36:51Z" class="relativetime">2 mins ago</span>
					    </div>								    
					    <div class="user-details">
					        <a href="">Asked Person Id or Name</a><br>
					    </div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- End your Iteration here -->
		<br class="cbt">
		<div class="page-sizer fr">
			<a href="/questions?pagesize=15&amp;sort=newest" title="show 15 items per page" class="page-numbers current">15</a>
			<a href="/questions?pagesize=30&amp;sort=newest" title="show 30 items per page" class="page-numbers ">30</a>
			<a href="/questions?pagesize=50&amp;sort=newest" title="show 50 items per page" class="page-numbers ">50</a>
			<span class="page-numbers desc">per page</span>
		</div>
		<div class="pager fl">
			<span class="page-numbers current">1</span>
			<a href="/questions?page=2&amp;sort=newest" title="go to page 2"> <span class="page-numbers">2</span> </a>
			<a href="/questions?page=3&amp;sort=newest" title="go to page 3"> <span class="page-numbers">3</span> </a>
			<a href="/questions?page=4&amp;sort=newest" title="go to page 4"> <span class="page-numbers">4</span> </a> 
			<a href="/questions?page=5&amp;sort=newest" title="go to page 5"> <span class="page-numbers">5</span> </a> 
			<span class="page-numbers dots">-</span>
			<a href="/questions?page=634676&amp;sort=newest" title="go to page 634676"> <span class="page-numbers">634676</span> </a> 
			<a href="/questions?page=2&amp;sort=newest" rel="next" title="go to page 2"> <span class="page-numbers next"> next</span> </a>
		</div>
	</div>
</div>

<div id="sidebar">
	<div class="module" id="questions-count">
        <div class="summarycount al">9,520,129</div>
        <p>questions</p>
    </div>
</div>
<section>
<!-- Question Page Ends -->