<!DOCTYPE html>
<!-- Content Starts -->    	


	<div class="container">
		<div id="header" style ="margin: -135px auto;">
        	<br class="cbt"><br class="cbt">
        	<div id="hlogo" style='background-image:url("modules/myapp/img/title.png");background-size: cover;'>
            	<a href="#!/index" style='width:400px;'>Ask Me - For Your Road Blocks</a>
       		</div>
       		<br class="cbt">
        	<div id="hmenus">
            	<div class="nav mainnavs" id="mainnavs" style="display:none">
                    <ul>    
                        <!-- class="youarehere" -->
                        <li><a id="nav-questions" href="#!/allQuestions">Questions</a></li>
                        <!-- <li><a id="nav-tags" href="/tags" onclick="return false">Tags</a></li>
                        <li><a id="nav-users" href="/users" onclick="return false">Users</a></li>
                        <li><a id="nav-badges" href="/help/badges" onclick="return false">Badges</a></li> 
                        <li><a id="nav-unanswered" href="/unanswered" onclick="return false">Unanswered</a></li>-->
                        <li>
                            <a id="nav-askquestion" href="#!/askQuestion">Ask Question</a>
                        </li>
                    </ul>
                </div>
        	</div>
    	</div>
	</div>

	<div id="content" class="snippet-hidden">

		<div ui-view="center"></div>    		
		
	</div>    	
	<!-- Content Ends -->

    	

	<!-- Footer Starts -->

	<div id="footer" class="categories">
        <div class="footerwrap">
            <div id="copyright">site design / logo © 2015 Muthu & Robbin inc; </div>            
        </div>
	</div>
	<!-- Footer Ends -->
   
