<!-- Question Page starts -->
<section data-ng-controller="questionAnswerController">
<div id="question-header">
    <h1 itemprop="name"><a href="">Question Title Comes Here....</a></h1>
</div>

<div id="mainbar">
	<div class="question" data-questionid="30622668" id="question">
		<div class="everyonelovesstackoverflow" id="adzerk1444138213"></div>
		<table class="">
			<tbody>
				<tr>
					<td class="votecell">
						<div class="vote">
							<input type="hidden" name="_id_" value="30622668">
							<a class="vote-up-off" title="This question shows research effort; it is useful and clear">up vote</a>
							<span itemprop="upvoteCount" class="vote-count-post ">0</span>
							<a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
					        <a class="star-off" href="#" title="This is a favorite question (click again to undo)">favorite</a>
							<div class="favoritecount"><b></b></div>
						</div>
					</td>
					<td class="postcell">
						<div>
							<div class="post-text" itemprop="text">
								<p>I'm writing a program that records video using MediaRecorder.</p>
								<p>I want to put an image onto the video recorded.</p>
								<p>In short,</p>
								<ol>
									<li>I have an image 'A'. It's small one.</li>
									<li>I record video.</li>
									<li>When the recording is finished, I want a video file that is merged with the image 'A'. So I wanna see the image in every frames of the video I recored.</li>
								</ol>
								<p>What should I do?</p>
							</div>
							<table class="fw">
								<tbody>
									<tr>
										<td class="vt">
											<div class="post-menu">
												
											</div>
										</td>
										<td class="post-signature owner">
											<div class="user-info ">
												<div class="user-action-time">
													asked <span title="2015-06-03 14:14:03Z" class="relativetime">55 secs ago</span>
												</div>
												<div class="user-details">
													<a href="/users/3454404/user3454404">user3454404</a><br>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="answers">
		<div id="answers-header">
			<div class="subheader answers-subheader">
				<h2>2 Answers<span style="display:none;" itemprop="answerCount">2</span></h2>
			</div>
		</div>

		<div id="answer-30622894" class="answer" data-answerid="30622894" itemscope="" itemtype="http://schema.org/Answer">
			<table>
				<tbody>
					<tr>
						<td class="votecell">
							<div class="vote">
								<input type="hidden" name="_id_" value="30622894">
								<a class="vote-up-off" title="This answer is useful">up vote</a>
								<span itemprop="upvoteCount" class="vote-count-post ">0</span>
								<a class="vote-down-off" title="This answer is not useful">down vote</a>
							</div>
						</td>
						<td class="answercell">
							<div class="post-text" itemprop="text">
								<div class="lang-c prettyprint prettyprinted">
									<span class="pln">Answer will come here one by one </span>
								</div>
							</div>										
							<table class="fw">
								<tbody>
									<tr>
										<td class="vt">
											<div class="post-menu">
											</div>                    
										</td>
										<td align="right" class="post-signature">
											<div class="user-info ">
												<div class="user-action-time">
													answered <span title="2015-06-03 14:24:11Z" class="relativetime">2 mins ago</span>
												</div>
												<div class="user-details">
													<a href="/users/2025923/tushar">Tushar</a><br>
													<span class="reputation-score" title="reputation score " dir="ltr">7,185</span>
													<span title="8 silver badges">
														<span class="badge2"></span>
														<span class="badgecount">8</span>
													</span>
													<span title="22 bronze badges"><span class="badge3"></span><span class="badgecount">22</span></span>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
	<h2 class="bottom-notice bottom-share-links" style="padding-top: 8px; margin-bottom: -8px;"></h2>
	<div class="post-form">
		<h2 class="space">Your Answer</h2>
		<textarea id="wmd-input" class="wmd-input processed" name="post-text" cols="92" rows="15" tabindex="101" data-min-length=""></textarea>
		<div id="wmd-preview" class="wmd-preview"></div>
		<div class="form-submit cbt">
			<input id="submit-button" type="submit" value="Post Your Answer" tabindex="110">
			<a href="#" class="discard-answer dno">discard</a>
		</div>
	</div>
</div>

<div class="module question-stats">
        <table id="qinfo">
            <tbody><tr>
                <td>
                    <p class="label-key">asked</p>
                </td>
                <td style="padding-left: 10px">
                    <p class="label-key" title="2015-06-03 14:56:32Z"><b>today</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label-key">viewed</p>
                </td>

                <td style="padding-left: 10px">
                    <p class="label-key">
                        <b>2 times</b>
                    </p>
                </td>
            </tr>
        </tbody></table>
    </div>
<section>
<!-- Question Page Ends -->