<!-- Question Page starts -->
<section data-ng-controller="questionAnswerController">
<div id="question-header">
    <h1 itemprop="name"><a href="">{{selectedQuestion.title}}</a></h1>
</div>

<div id="mainbar">
	<div class="question" data-questionid="30622668" id="question">
		<div class="everyonelovesstackoverflow" id="adzerk1444138213"></div>
		<table class="">
			<tbody>
				<tr>
					<td class="votecell">
						<div class="vote">
							<input type="hidden" name="_id_" value="30622668">
							<a class="vote-up-off" title="This question shows research effort; it is useful and clear" ng-click="upVoteForQuestion()">up vote</a>
							<span itemprop="upvoteCount" class="vote-count-post ">{{selectedQuestion.votes}}</span>
							<a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful" ng-click="downVoteForQuestion()">down vote</a>
					        <a class="star-off" href="#" title="This is a favorite question (click again to undo)">favorite</a>
							<div class="favoritecount"><b></b></div>
						</div>
					</td>
					<td class="postcell">
						<div>
							<div class="post-text" itemprop="text">
								<p><pre>{{selectedQuestion.content}}<pre></p>
							</div>
							<table class="fw">
								<tbody>
									<tr>
										<td class="vt">
											<div class="post-menu">
												
											</div>
										</td>
										<td class="post-signature owner">
											<div class="user-info ">
												<div class="user-action-time">
													asked <span title="2015-06-03 14:14:03Z" class="relativetime">{{selectedQuestion.created.split("T")[0]}}</span>
												</div>
												<div class="user-details">
													<a href="#">{{selectedQuestion.createdUser}}</a><br>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div id="answers">
		<div id="answers-header">
			<div class="subheader answers-subheader">
				<h2>{{answers.length}} Answers<span style="display:none;" itemprop="answerCount">{{answers.length}}</span></h2>
			</div>
		</div>

		<div id="{{ans._id}}" class="answer" data-answerid="30622894" itemscope="" itemtype="http://schema.org/Answer" ng-repeat="ans in answers">
			<table>
				<tbody>
					<tr>
						<td class="votecell">
							<div class="vote">
								<input type="hidden" name="_id_" value="30622894">
								<a class="vote-up-off" title="This answer is useful" ng-click="upVoteForAnswer(ans)">up vote</a>
								<span itemprop="upvoteCount" class="vote-count-post ">{{ans.votes}}</span>
								<a class="vote-down-off" title="This answer is not useful" ng-click="downVoteForAnswer(ans)">down vote</a>
							</div>
						</td>
						<td class="answercell">
							<div class="post-text" itemprop="text">
								<div class="lang-c prettyprint prettyprinted">
									<span class="pln" ><pre>{{ans.content}}<pre></span>
								</div>
							</div>										
							<table class="fw">
								<tbody>
									<tr>
										<td class="vt">
											<div class="post-menu">
											</div>                    
										</td>
										<td align="right" class="post-signature">
											<div class="user-info ">
												<div class="user-action-time">
													answered <span title="2015-06-03 14:24:11Z" class="relativetime">{{ans.answered.split("T")[0]}}</span>
												</div>
												<div class="user-details">
													<a href="#">{{ans.answeredUser}}</a><br>
													<span class="reputation-score" title="reputation score " dir="ltr"></span>
													<span title="8 silver badges">
														<span class="badge2"></span>
														<span class="badgecount"></span>
													</span>
													<span title="22 bronze badges"><span class="badge3"></span><span class="badgecount"></span></span>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					
				</tbody>
			</table>
			<div class="everyonelovesstackoverflow"></div>
		</div>
	</div>
	<h2 class="bottom-notice bottom-share-links" style="padding-top: 8px; margin-bottom: -8px;"></h2>
	<div class="post-form">
		<h2 class="space">Your Answer</h2>
		<textarea id="wmd-input" class="wmd-input processed" name="post-text" cols="92" rows="15" tabindex="101" data-min-length="" ng-model="newAnswer.content"></textarea>
		<div id="wmd-preview" class="wmd-preview"></div>
		<div class="form-submit cbt">
			<input id="submit-button" type="submit" value="Post Your Answer" tabindex="110" ng-click="postAnswer()">
			<a href="#" class="discard-answer dno">discard</a>
		</div>
	</div>
</div>

<div class="module question-stats">
        <table id="qinfo">
            <tbody><tr>
                <td>
                    <p class="label-key">asked</p>
                </td>
                <td style="padding-left: 10px">
                    <p class="label-key" title="2015-06-03 14:56:32Z"><b>{{selectedQuestion.created.split("T")[0]}}</b></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="label-key">viewed</p>
                </td>

                <td style="padding-left: 10px">
                    <p class="label-key">
                        <b>0 times</b>
                    </p>
                </td>
            </tr>
        </tbody></table>
    </div>
<section>
<!-- Question Page Ends -->